# Make a copy of this file as 'config.yaml' 
# and run config.py to initialize credentials

# API Credentials
api_user: gptoolsvc
api_password: # Automatically filled by config tool 

# TTL for GP Session Data Cache (Default 30s)
fw_gp_sessions_ttl: 30
fw_ip: 192.168.1.10
fw_credentials:
  api_key:  

# ISE configuration
ise_api_ip: 192.168.1.20
ise_api_port: 9060
ise_credentials:
  token: 

# TTL for User Detailed Record Cache
ise_cache_ttl: 60

# Email Notification Settings
email_enabled:  0 # Set 1 to enable
smtp_server: smtp.domain.com
smtp_port: 587
smtp_type: tls or cleartext
mail_from: sender@domain.com
mail_user: sender@domain.com
mail_to: [ "receiver@domain.com", "another@domain.com" ]
mail_password: sender_mail_password # Automatically filled by config tool
mail_subject: Duplicate GP Login Attempt Detected

# Note that once credentials are initialized all comments 
# will be removed from the live config file (config.yaml)